* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    background-image: url("./res/index-bg.png");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: 100vh;
    font-size: 150%;
}
#game {
    display: none;
}
#pause-menu {
    display: none;
}
#difficulty-menu {
    display: none;
}
#leaderboards-menu {
    display: none;
}

.ui {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1%;
    margin: 1%;
    border: none;
}

.tab {
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 0;
}

.gradient-border, button {
    position: relative;
    z-index: 0;
}
.gradient-border::before, button::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 3px;
    border-radius: inherit;
    background: linear-gradient(90deg, #ff00ff, #00ffff, #ff00ff);
    -webkit-mask:
            linear-gradient(#fff 0 0) content-box,
            linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    z-index: -1;
    background-size: 200% auto;
    animation: border-spin 5s linear infinite;
}
@keyframes border-spin {
    to { background-position: 200% center; }
}

button {
    font-family: monospace;
    font-size: clamp(1rem, 2vw, 1.4rem);
    width: clamp(150px, 25vw, 300px);
    color: white;
    background-position: center;
    border: none;
    border-radius: 12px;
    padding: 0.8em 1.2em;
    margin: 1.5%;
    cursor: pointer;
}

.diff-elem, .leaderboard-elem {
    margin: 5%;
}

.diff-elem {
    background-image: url("./res/button-lightblue.png");
}
.diff-elem:hover {
    background-image: url("./res/button-darkblue.png");
}

/*BUTTONS*/

#pause-resume-button {
    background-image: url("./res/button-yellow.png");
}
#new-game-button {
    background-image: url("./res/button-teal.png");
}
#difficulty-button {
    background-image: url("./res/button-lightblue.png");
}
#leaderboards-button, #leaderboards-back-button, #pause-quit-button {
    background-image: url("./res/button-pink.png");
}

/*TRANSITIONS*/

#pause-resume-button:hover {
    background-image: url("./res/button-orange.png");

}
#new-game-button:hover {
    background-image: url("./res/button-green.png");
}
#difficulty-button:hover {
    background-image: url("./res/button-darkblue.png");
}
#leaderboards-button:hover, #leaderboards-back-button:hover, #pause-quit-button:hover {
    background-image: url("./res/button-purple.png");
}

#score {
    font-size: 150%;
}

#map {
    background-image: url("./res/tetris-bg.png");
    background-size: cover;
    box-shadow: 0 0 36px 0 lightgrey;
}
#next-container {
    position: absolute;
    left: -144px;
    top: 50%;
    transform: translateY(-50%);
    width: 128px;
    text-align: center;
}
#next-label {
    color: #eee;
    margin-bottom: 6px;
}
.highlightNext {
    color: #fff;
    text-shadow: 0 0 12px #fff;
}
#next-piece {
    background-image: url("./res/tetris-bg.png");
    background-size: auto;
}

.block {
    width: 32px;
    height: 32px;
    position: absolute;
    background-size: cover;
}

#volume-range {
    accent-color: orange;
}
#music-pause-button {
    all: unset;
    display: inline-block;
    background-color: transparent;
    color: white;
    border: none;
    padding: 0;
    cursor: pointer;
    font-size: 1rem;
    transition: background 0.2s;
}