* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    background-image: url("./res/index-bg.png");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: 100vh;
}
#game {
    display: none;
}
#difficulty-menu {
    display: none;
}

.ui {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 2%;
}
.tab {
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 0;
}

button {
    font-family: monospace;
    font-size: clamp(1.5rem, 3vw, 2.7rem);
    padding: 15px;
    margin: 10% 0 10% 0;
    background-color: transparent;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
}

.diff-btn {
    background-image: url("./res/button-lightblue.png");
}
.diff-btn:hover {
    background-image: url("./res/button-blue.png");
}

/*BUTTONS*/

#resume-button {
    background-image: url("./res/button-yellow.png");
}
#new-game-button {
    background-image: url("./res/button-teal.png");
}
#difficulty-button {
    background-image: url("./res/button-lightblue.png");
}
#leaderboards-button {
    background-image: url("./res/button-pink.png");
}

/*TRANSITIONS*/

#resume-button:hover {
    background-image: url("./res/button-orange.png");

}
#new-game-button:hover {
    background-image: url("./res/button-green.png");
}
#difficulty-button:hover {
    background-image: url("./res/button-blue.png");
}
#leaderboards-button:hover {
    background-image: url("./res/button-purple.png");
}

#score {
    font-size: 150%;
}

#map {
    background-image: url("./res/tetris-bg.png");
    background-size: cover;
    box-shadow: 0 0 36px 0 lightgrey;
}

.block {
    width: 32px;
    height: 32px;
    position: absolute;
    background-size: cover;
}
